hr {
    border: 0.5px solid black;
}

.studentsContainer {
    /* border: 1px solid black; */
    width: 80%;
    height: 200px;
}

.courseInfo{
    /* border: 1px solid black; */
    width: 55%;
    height: 200px;
}

.studentsContainer{
    /* border: 1px solid black; */
    width: 80%;
    height: 200px;
}