hr {
    border: 0.5px solid black;
}

.studentsContainer {
    width: 98%;
    height: 200px;
}

.courseInfo {
    width: 55%;
    height: 210px;
}

.studentsContainer {
    width: 80%;
    height: 260px;
}

.courseName {
    height: 30px;
    width: 80%;
    overflow: auto;
}

.studentName{
    height: 50px;
    width: 80%;
}