<ng-container *ngIf="courseInfo">
    <div class="clearfix">
        <span class="float-left ml-3 mt-2 font-weight-bold">{{courseInfo.name}}</span>
        <button class="float-right mr-3 mt-2 rounded font-weight-bold" *ngIf="currentUser.role !== roles.sales"
            (click)="onEdit()">edit</button>
    </div>
    <hr class="m-2">
    <div class="ml-2">
        <div class="clearfix mb-3">
            <img class='float-left rounded' [src]='baseCourseImgUrl+courseInfo.image' [alt]='courseInfo.image'
                width='200' height='210' />
            <div class="courseInfo float-left overflow-auto ml-2">
                <h2>{{courseInfo.name}}, {{courseInfo.courseStudents.length}} students</h2>
                <span>{{courseInfo.description}}</span>
            </div>
        </div>
        <div *ngFor="let student of courseInfo.courseStudents">
            <img [src]="baseStudentImgUrl+student.image" [alt]="student.image" width="50" height="50" />
            <span>{{student.name}}</span>
        </div>
    </div>
</ng-container>