<!-- only on start -->
<div class="main w-50 text-center" *ngIf="!_mainContainerFilter.action">
    <p>Total of School: </p>
    <p>courses: {{coursesCount}}</p>
    <p>students: {{studentsCount}}</p>
</div>

<app-list class="courses w-25 h-25" title='courses' (mainContainerFilter)='filterForMainContainer($event)'></app-list>
<app-list class="students w-25" title='students' (mainContainerFilter)='filterForMainContainer($event)'></app-list>

<ng-container *ngIf="_mainContainerFilter.title === 'courses'">
    <!-- only on add -->
    <app-course-form *ngIf="_mainContainerFilter.action === 'add'" class="main w-50"
        [mainContainerFilter]='_mainContainerFilter' (showSchoolMainPage)="componentLoading($event)"></app-course-form>
    <!-- only on more info -->
    <app-course-info class="main w-50" *ngIf="_mainContainerFilter.action === 'moreInfo'"
        [mainContainerFilter]='_mainContainerFilter' (onEditData)="onEdit($event)"></app-course-info>
    <!-- only on edit -->
    <app-course-form *ngIf="_mainContainerFilter.action === 'edit'" class="main w-50"
        [mainContainerFilter]='_mainContainerFilter' (showSchoolMainPage)="componentLoading($event)"></app-course-form>
</ng-container>

<ng-container *ngIf="_mainContainerFilter.title === 'students'">
    <!-- only on add -->
    <app-student-form *ngIf="_mainContainerFilter.action === 'add'" class="main w-50"
        [mainContainerFilter]='_mainContainerFilter' (showSchoolMainPage)="componentLoading($event)"></app-student-form>
    <!-- only on more info -->
    <app-student-info class="main w-50" *ngIf="_mainContainerFilter.action === 'moreInfo'"
        [mainContainerFilter]='_mainContainerFilter' (onEditData)="onEdit($event)"></app-student-info>
    <!-- only on edit -->
    <app-student-form *ngIf="_mainContainerFilter.action === 'edit'" class="main w-50"
        [mainContainerFilter]='_mainContainerFilter' (showSchoolMainPage)="componentLoading($event)"></app-student-form>
</ng-container>