.courses,
.students {
    height: 550px;
    float: left;
}

.courses {
    /* background-color: green; */
}

.students {
    /* background-color: blue; */
}

.students,.courses{
    width: 23%;
}

.main {
    width: 50%;
    background-color: yellow;
    height: 550px;
    float: right;
    margin-right: 2%;
}


.summary{
    text-align: center;
    border: 1px solid black;
    padding-top: 10em;
}