<h6>
    <span> {{title}} </span> <span (click)="onAction(title, 'add')">+</span>
</h6>
<div class='listContainer'>
    <ng-container *ngIf="lista">
        <ng-container class="itemContainer" *ngFor="let item of lista">
            <ng-container
                *ngIf="((title === 'administrators') && ((currentUserRole === 'manager' && item.role !== 'owner') || (currentUserRole === 'owner'))) || (title !== 'administrators')">
                <div [id]='item._id' (click)="onItemClicked(title, item._id); onAction(title, 'moreInfo')">
                    <img class='floatLeft' [src]='baseUserImgUrl+imgFolder+"/"+item.image' [alt]='item.image' width='50'
                        height='50' />
                    <ng-container class="floatLeft">
                        <span>{{item.name}}</span> <span *ngIf="title === 'administrator'">, {{item.role}}</span><br>
                        <span *ngIf="title !== 'courses'">{{item.phone}}</span><br>
                        <span *ngIf="title === 'administrators'">{{item.email}}</span><br>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
</div>