<h6>
    <span> {{title}} </span> <span (click)='add(title)'>+</span>
</h6>
<div class='listContainer'>
    <ng-container class="itemContainer" *ngFor="let item of list">
        <div [id]='item._id'>
            <!-- needs to change image src -->
            <img class='floatLeft'
            src='https://github.com/morpilo28/projects/blob/master/project3%20-%20vacations/client/styles/images/ireland.jpg?raw=true' 
                [alt]='item.images' width='50' height='50' />
            <ng-container class="floatLeft">
                <span>{{item.name}}</span> <span *ngIf="title === 'administrator'">, {{item.role}}</span><br>
                <span *ngIf="title !== 'courses'">{{item.phone}}</span><br>
                <span *ngIf="title === 'administrator'">{{item.email}}</span><br>
            </ng-container>
        </div>
    </ng-container>
</div>