h6 {
    display: inline-block;
    width: 100%;
    font-size: 2em;
    margin: 10px 0 10px 0;
}

img {
    border: 1px solid black;
    width: 78px;
    height: 73px;
    margin-right: 5px;
}

.floatLeft {
    float: left;
}

.itemContainer {
    clear: both;
    /* margin-bottom: -42px; */
}

.listContainer {
    overflow: scroll;
    height: 340px;
    /* background-color: yellow; */
}

.item {
    /* background-color: purple; */
    margin-bottom: 4%;
}