h6 {
    display: inline-block;
    width: 100%;
    font-size: 2em;
    margin: 10px 0 10px 0;
}

img {
    border: 1px solid black;
    width: 78px;
    height: 73px;
    margin-right: 5px;
}

.floatLeft {
    float: left;
}

.listContainer {
    height: 490px;
    /* background-color: yellow; */
}

.item {
    /* background-color: purple; */
    height: 75px;
    width: 95%;
    min-width: 95%;
    min-height: 75px;
    margin-bottom: 2%;
}

.info {
    /* border: 1px solid black; */
    width: 60%;
    height: 73px;
}