body,
html {
  width: 100%;
  height: 100%;
}

#parallax-image {
  background-image: url(images/img1.jpg);
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.90;
}

.heading {
  font-family: cursive, Arial, Helvetica, sans-serif;
  font-size: 70px;
  color: rgb(245, 245, 245);
}

.navbar {
  display: block;
  margin-top: 100px;
}

.btnNav,
.btnRemoveCoin {
  background-color: rgb(0, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.btnNav {
  margin-right: 8px;
}
#home{
  width: 159px;
}

.btnRemoveCoin {
  font-size: 15px;
  margin-bottom: 8px;
}

.chosenCoinsBtn,
.search-button {
  background-color: rgb(223, 255, 0);
  font-size: 15x;
}

.chosenCoinsBtn {
  width: 167px;
}

.cardBody {
  background-color: rgb(250, 235, 215);
  opacity: 0.9;
}

.info-button {
  background-color: rgb(255, 228, 196);
  color: rgb(0, 0, 0);
}

#mainLoader,
.infoLoader {
  margin-top: 10px;
}

#mainLoader {
  height: 37px;
  margin-left: 20px;
  width: 12%;
}

.infoLoader {
  margin-left: 22px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(204, 204, 204);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  transition: .4s;
}

input:checked+.slider {
  background-color: rgb(33, 150, 243);
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.modal-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

#currentPage {
  margin-top: 32px;
}

#aboutContainer {
  font-size: 20px;
}

#search{
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 4px;
}