hr{
    border: 0.5px solid black;
}

label{
    margin-left: 10px;
}

.coursesBox{
    /* border: 1px solid black; */
    height: 79px;
}

.courses{
    /* border: 1px solid black; */
    width: 75%;
    height: 74px;
}

.labelProp{
    width: 9%;
    text-align: right;
}

.verticalAlign *{
    vertical-align: middle;
}

.studentName{
    /* border: 1px solid black; */
    height: 30px;
    width: 95%;
}

.course{
    /* border: 1px solid black; */
    width: 30%;
    height: 40px;
}

.courseName{
    /* border: 1px solid black; */
    width: 80%;
    height: 30px;
    margin-top: 1px;
}
