<div *ngIf='mainContainerFilter'>
    <div class="ml-3 mt-2 font-weight-bold overflow-auto studentName"
        *ngIf="mainContainerFilter.action === actions.edit">Edit
        {{studentOldData.name | titlecase}}</div>
    <div class="ml-3 mt-2 font-weight-bold" *ngIf="mainContainerFilter.action === actions.add">Add Student</div>
    <hr class="m-2">
    <div class="clearfix mb-3">
        <button class="font-weight-bold float-left ml-2 rounded" (click)="save()">Save</button>
        <button *ngIf="mainContainerFilter.action === actions.edit" class="font-weight-bold float-right mr-2 rounded"
            (click)='delete(studentNewData._id)'>Delete</button>
    </div>
    <input [(ngModel)]="studentNewData._id" hidden [id]='studentNewData._id' />
    <div>
        <label class="labelProp ml-2 mr-2" for="name">Name</label>
        <input (keyup.enter)='save()' id="name" [(ngModel)]="studentNewData.name" /></div>
    <div>
        <label class="labelProp ml-2 mr-2" for="phone">Phone</label>
        <input (keyup.enter)='save()' id="phone" [(ngModel)]="studentNewData.phone" [value]="studentNewData.phone" />
    </div>
    <div>
        <label class="labelProp ml-2 mr-2" for="email">Email</label>
        <input (keyup.enter)='save()' id="email" [(ngModel)]="studentNewData.email" [value]="studentNewData.email" />
    </div>

    <div class="mb-3 ml-2">
        <div class="clearfix">
            <div class="labelProp float-left mr-2">Image</div>
            <button class="mb-2 float-left rounded font-weight-bold" id="imgPick" style="cursor:pointer"
                (click)="onImageBtn(file)">{{imgBtnText}}</button>
            <!-- TODO: see if to use the spinner -->
            <span *ngIf='loader' class="spinner-border ml-3" role="status"></span>
        </div>
        <div *ngIf='!imgURL && imageName'>
            <img class="rounded" [src]="baseStudentImgUrl+imageName" [alt]="imageName" width="200" height="210" />
        </div>
        <img [src]="imgURL" height="210" width="200" *ngIf="imgURL">
        <input #file type="file" accept='image/*' style="display:none" (change)="preview(file.files)" />
    </div>

    <div class="clearfix coursesBox overflow-auto">
        <div class="float-left mr-4"><label>Courses</label></div>
        <div class="courses overflow-auto float-left">
            <div *ngFor="let course of allCourses" class="course overflow-auto float-left verticalAlign mr-1 mb-1">
                <input type="checkbox" [value]='course.name' [id]='course._id' [attr.data-img]="course.image"
                    [checked]="course.isChecked" (click)='onClickedCourseBox($event.target)' />
                <label class="courseName ml-2 overflow-auto" [for]='course.id'>{{course.name}}</label>
            </div>
        </div>
    </div>
</div>