<!-- user's list -->
<app-list class="administrators" title='administrators' (mainContainerFilter)='componentLoading($event)'>
</app-list>

<!-- main -->
<app-user-main class="main summary rounded" *ngIf="!mainContainerFilter.action" [administratorsCount]='administratorsCount' [totalUsers]='totalUsers'></app-user-main>

<!-- on add user -->
<app-user-form class="main" *ngIf="mainContainerFilter.action === 'add'" [mainContainerFilter]='mainContainerFilter'
    (showUserMainPage)="componentLoading($event)">
</app-user-form>

<!-- on more info -->
<app-user-info class="main" *ngIf="mainContainerFilter.action === 'moreInfo'"
    [mainContainerFilter]='mainContainerFilter' (onEditData)="componentLoading($event)"></app-user-info>

<!-- on edit  user -->
<app-user-form class="main" *ngIf="mainContainerFilter.action === 'edit'" [mainContainerFilter]='mainContainerFilter'
    (showUserMainPage)="componentLoading($event)">
</app-user-form>