<app-list title='administrators' [list]='usersList' (mainContainerFilter)='filterForMainContainer($event)' (listItemData)="onPickedListItem($event)"></app-list>
<!-- only on add -->
<app-main-container *ngIf="_mainContainerFilter.action === 'add'" class="main" [mainContainerFilter] = '_mainContainerFilter' [dataToEdit]='singleItemToEdit'></app-main-container>

<!-- only on more info -->
<app-more-info class="main" *ngIf="_mainContainerFilter.action === 'moreInfo'" [mainContainerFilter] = '_mainContainerFilter' [dataToEdit]='singleItemToEdit' (onEditData)="onEdit($event)"></app-more-info>

<!-- only on edit -->
<app-main-container *ngIf="_mainContainerFilter.action === 'edit'" class="main" [mainContainerFilter] = '_mainContainerFilter' [dataToEdit]='singleItemToEdit'></app-main-container>