.main {
    width: 60%;
    background-color: yellow;
    height: 550px;
    float: right;
    margin-right: 2%;
    margin-top: 1%;
}

.administrators {
    width: 30%;
    height: 550px;
    float: left;
    margin: 0 10px 0 10px;
    /* background-color: green; */
}

.summary{
    text-align: center;
    border: 1px solid black;
    padding-top: 10em;
}