body,
html {
    width: 100%;
    height: 100%;
}

.background {
    background-image: url(images/img0.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.header {
    width: 100%;
    text-align: center;
    height: 52px;
    font-family: cursive;
    font-size: 100px;
    color: honeydew;
}

button {
    background-color: aqua;
    color: black;
}

.navbar {
    margin-top: 103px;
    margin-left: 45px;
    display: block;
}

.card {
    margin-top: 10px;
    background-color: antiquewhite;
    opacity: 0.9;
}

.info-button {
    background-color: bisque;
    color: black;
}


/* 
.taskForm {
    width: 31%;
    background-image: url(images/formbg.jpg);
    background-repeat: repeat-y;
    margin-left: auto;
    margin-right: auto;
    height: 148px;
}

.date,
.time,
.task {
    margin-top: 7px;
}

.date {
    padding-top: 16px;
}

.date::before,
.task::before {
    display: inline-block;
    width: 2px;
    content: '*';
    color: rgb(250, 0, 0);
}

.inputDesign {
    border: none;
    margin-left: 22px;
}

#taskInput {
    width: 76%;
}

.buttons {
    width: 100%;
    margin-top: 6px;
    text-align: end;
}

.btn {
    font-family: cursive, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#tasksAdded {
    width: 100%;
    margin-top: 30px;
}

.taskNoteDesign,
.OnlyOneNote {
    background-image: url(images/notebg.png);
    background-repeat: no-repeat;
    background-size: 203px;
    float: left;
    width: 19%;
    height: 257px;
    margin-left: 10px;
    margin-right: 1px;
}

.taskNoteDesign {
    opacity: 1;
}

.OnlyOneNote {
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    opacity: 0;
}

.taskOnNoteDesign {
    max-width: 172px;
    height: 155px;
    margin-top: -4px;
    margin-left: 3px;
}

.dateOutput,
.timeOutput {
    margin-left: 5px;
}

.dateOutput {
    margin-top: 11px;
}

.timeOutput {
    margin-top: -3px;
}

.fas,
.fa-times {
    visibility: hidden;
    margin-top: 18px;
    margin-left: 164px;
}

.taskNoteDesign:hover .fas,
.taskNoteDesign:hover .fa-times,
.OnlyOneNote:hover .fas,
.OnlyOneNote:hover .fa-times {
    visibility: visible;
} */