.floatLeft {
    float: left;
}

hr {
    clear: both;
}

.logo {
    width: 25%;
    height: 80px;
    margin-right: 4%;
    min-width: 200px;
    min-height: 80px;
}

.navbar {
    margin-top: 5.5%;
}

.bar {
    border: 1px solid black;
    border-bottom: none;
    margin-right: 4%;
    background-color: rgba(0, 255, 255,0.4);
    padding: 1% 5% 1% 5%;
}

.header{
    width: 53%;
    /* border: 1px solid black; */
}