<div *ngIf='mainContainerFilter'>
    <div class="ml-3 mt-2 font-weight-bold overflow-auto courseName" *ngIf="mainContainerFilter.action === actions.edit">Edit
        {{courseOldData.name | titlecase}}</div>
    <div class="ml-3 mt-2 font-weight-bold" *ngIf="mainContainerFilter.action === actions.add">Add Course</div>
    <hr class="m-2">
    <div class="clearfix mb-3">
        <button class="font-weight-bold float-left ml-2 rounded" (click)="save()">Save</button>
        <button class="font-weight-bold float-right mr-2 rounded"
            *ngIf="courseOldData && courseOldData.courseStudents.length === 0"
            (click)='delete(courseNewData._id)'>Delete</button>
    </div>
    <input [(ngModel)]="courseNewData._id" hidden [id]='courseNewData._id' />
    <div>
        <label class="labelProp ml-2 mr-2" for="name">Name </label>
        <input (keyup.enter)='save()' id="name" [(ngModel)]="courseNewData.name" />
    </div>
    <div class="descriptionBox mb-2">
        <label class="labelProp ml-2 mr-2" for="description">Description </label>
        <textarea id="description" [(ngModel)]="courseNewData.description"
            [value]="courseNewData.description"></textarea>
    </div>
    <div class="mb-3 ml-2">
        <div class="clearfix">
            <div class="labelProp float-left mr-2">Image</div>
            <button class="mb-2 float-left rounded font-weight-bold" id="imgPick" style="cursor:pointer" (click)="onImageBtn(fileInput)">{{imgBtnText}}</button>
        </div>
        <div *ngIf="image">
            <img class="rounded" [src]="baseCourseImgUrl+image" [alt]="image" width="200" height="210" />
        </div>
        <input #fileInput type="file" id='addedImage' required style="display:none"
            (change)="onPickedImg(fileInput)" />
    </div>

    <p class="ml-2 font-weight-bold" *ngIf="mainContainerFilter.action !== actions.add">Sum of students taking this course: {{courseOldData.courseStudents.length}}</p>
</div>