:host {
    position: relative;
    float: right;
    width: 45%;
    height: 87px;
}

 .userDetails {
    position: relative;
    right: 8%;
    top: 12%;
    float: right;
}

.userImg {
    position: relative;
    float: right;
    top: 7%;
    right: 10px;
}

.logout{
    float: right;
}

img{
    width: 70px;
    height: 70px;
}