:host {
    position: relative;
    /* border: 1px solid black; */
    float: right;
    width: 25%;
    height: 87px;
}

 .userDetails {
    position: relative;
    left: 10%;
    top: 12%;
    width: 54%;
    float: left;
    /* border: 1px solid black; */
}

.userImg {
    position: relative;
    right: 0;
    top: 7%;
    float: right;
    margin-right: 3%;
    /* border: 1px solid black; */
}

img{
    width: 70px;
    height: 70px;
}