<h6><span>{{title}} </span><span>  +</span></h6>
<div class='listContainer'>
    <div class="itemContainer" *ngFor='let item of list'>
        <img class='floatLeft'
            src='https://github.com/morpilo28/projects/blob/master/project3%20-%20vacations/client/styles/images/ireland.jpg?raw=true'
            [alt]='item.name' width='50' height='50' />
        <ng-container class="floatLeft">
            <p *ngFor='let key of keys'>{{item[key]}}</p><br>
        </ng-container>
    </div>
</div>