<h2 *ngIf='courseAndStudentCount && !mainContainerFilter'>Total of {{courseAndStudentCount.coursesCount}} courses and
    {{courseAndStudentCount.studentsCount}} students</h2>
<h2 *ngIf='administratorsCount && !mainContainerFilter'>Total of {{administratorsCount}} managers</h2>
<div *ngIf='mainContainerFilter'>
    <button (click)="save()">Save</button>
    <button *ngIf="((currentUser.name !== dataToEdit.name) && (mainContainerFilter.action === 'edit')) || (currentUser.role === 'owner')" (click)='delete(dataToEdit._id)'>Delete</button><br>
    <input [(ngModel)]="dataToAdd.id" hidden [id]='dataToEdit._id' />
    <label>name: <input [value]="dataToEdit.name" [(ngModel)]="dataToAdd.name" /><br></label>
    <label *ngIf="mainContainerFilter.title === 'courses'">description: <textarea [(ngModel)]="dataToAdd.description"
            [value]="dataToEdit.description"></textarea><br></label>
    <ng-container *ngIf="mainContainerFilter.title !== 'courses'">
        <label>phone:
            <input [(ngModel)]="dataToAdd.phone" [value]="dataToEdit.phone" /><br></label>
        <label>email:
            <input [(ngModel)]="dataToAdd.email" [value]="dataToEdit.email" /><br></label>
    </ng-container>
    <label *ngIf="mainContainerFilter.title === 'administrators' && currentUser.role === 'owner'">role: <input [(ngModel)]="dataToAdd.role"
            [value]="dataToEdit.role" />
        <br></label>
    <label>image: <input [(ngModel)]="dataToAdd.image" [value]="dataToEdit.image" /> <br></label>
    <p *ngIf="mainContainerFilter.title === 'courses' && mainContainerFilter.action !== 'add'">total {{courseStudentsOrStudentCourses.length}} students taking this
        course <br></p>
        <!-- TODO: the list needs to come from the list array and the dataToEdit.courses will determine which boxes will be checked  -->
        <!-- TODO: or - once a course is added, add it to all students courses array with the checked key set to false  -->
    <label *ngIf="mainContainerFilter.title === 'students'">courses: 
        <ng-container *ngFor="let course of dataToEdit.courses">
            <input type="checkbox" [value]='course.name' [id]='course.id' [checked]="course.isChecked"
                (click)='onClickedCourseBox($event.target)' />
            <label [for]='course.id'>{{course.name}}</label>
        </ng-container>
    </label>
</div>