<span>{{dataToEdit.name}}</span>
<ng-container *ngIf="currentUserRole !== dataToEdit.role">
<button
    *ngIf="(currentUserRole === 'manager' && dataToEdit.role !== 'owner') || (currentUserRole === 'owner') || (currentUserRole === 'sales' && mainContainerFilter.title === 'students')"
    (click)="onEdit()">edit</button>
</ng-container>
<hr>
<div>
    <img *ngIf="dataToEdit.image" class='floatLeft'
        [src]='baseUserImgUrl+imgFolder+dataToEdit.image'
        [alt]='baseUserImgUrl+imgFolder+dataToEdit.image' width='150' height='150' />
    <ng-container class="floatLeft">
        <span>{{dataToEdit.name}}</span>
        <span *ngIf="mainContainerFilter.title === 'administrators'">, {{dataToEdit.role}}</span>
        <span *ngIf="mainContainerFilter.title === 'courses' && dataToEdit.courseStudents">, {{(dataToEdit.courseStudents).length}}
            students</span><br>
        <ng-container *ngIf="mainContainerFilter.title !== 'courses'">
            <span>{{dataToEdit.phone}}</span><br>
            <span>{{dataToEdit.email}}</span><br>
        </ng-container>
        <div *ngIf="mainContainerFilter.title === 'courses'">{{dataToEdit.description}}</div>
    </ng-container>
    <div *ngIf="mainContainerFilter.title !== 'administrators'">
       <ng-container *ngIf="courseStudentsOrStudentCourses">
            <ng-container *ngFor="let item of courseStudentsOrStudentCourses">
                <ng-container *ngIf="(item.isChecked === true) || isExist(item.isChecked)">
                    <img *ngIf="mainContainerFilter.title === 'courses'" class='floatLeft' [src]="baseUserImgUrl+'studentImages/'+item.image" [alt]='item.image' width='50' height='50'/>
                    <img *ngIf="mainContainerFilter.title === 'students'" class='floatLeft' [src]="baseUserImgUrl+'courseImages/'+item.image" [alt]='item.image' width='50' height='50'/>
                    <ng-container class="floatLeft">
                        <span>{{item.name}}</span>
                    </ng-container><br><br>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>