td,th {
    padding: 10px;
}

table,
th,
td {
    border: 1px solid black;
}

th {
    background-color: bisque;
    font-size: 16px;
}

.centerText {
    text-align: center;
}

.ctrlRow {
    background-color: aquamarine;
}

div {
    font-size: 20px;
}

.ctrlRow,
th {
    font-weight: bold;
}