<ng-container *ngIf="studentInfo">
    <div class="clearfix">
        <span class="float-left ml-3 mt-2 font-weight-bold studentName overflow-auto">{{studentInfo.name | titlecase}}</span>
        <button class="float-right mr-3 mt-2 rounded font-weight-bold" (click)="onEdit()">Edit</button>
    </div>
    <hr class="m-2">
    <div class="ml-2">
        <div class="clearfix mb-3">
            <img *ngIf='studentInfo.image' class='float-left rounded' [src]='baseStudentImgUrl+studentInfo.image' [alt]='studentInfo.image'
                width='200' height='210' />
            <div class="studentInfo float-left overflow-auto ml-3">
                <h2>{{studentInfo.name | titlecase}}</h2>
                <span>{{studentInfo.phone}}</span><br>
                <span>{{studentInfo.email}}</span><br>
            </div>
        </div>
        <div class="coursesContainer overflow-auto">
            <div class="mb-2 clearfix" *ngFor="let course of studentInfo.courses | sortListByName">
                <img *ngIf='course.image' class="float-left rounded" [src]="baseCourseImgUrl+course.image" [alt]="course.image" width="50" height="50" />
                <div class="ml-2 float-left overflow-auto courseName">{{course.name | titlecase}}</div>
            </div>
        </div>
    </div>
</ng-container>