hr {
  border: 0.5px solid black;
}

.coursesContainer {
  /* border: 1px solid black; */
  width: 98%;
  height: 260px;
}

.studentInfo {
  /* border: 1px solid black; */
  width: 55%;
  height: 210px;
}

.studentName {
  height: 30px;
  width: 80%;
}

.courseName{
  height: 50px;
    /* border: 1px solid black; */
    width: 85%;
}